/* src/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .el-custom-site {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow-x: hidden;
    background-color: #FDFBF7;
  }
  body {
    @apply font-body text-midnight antialiased bg-cream;
  }
}